@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$dmSans: "DM Sans", sans-serif;
$main-color: #c73897;
$bg-site: #171717;
$bg-cards: #212121;
$cards-border: #333333;
$text-white: #f9f9f9;
$text-gray: #828282;
$text-gray1: #adb5bd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: $bg-site;
  color: $text-white;
  font-family: $dmSans;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  color: $text-white;
}
.container {
  max-width: 1140px;
  width: 80%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: $bg-cards;
  box-shadow: inset 0 0 5px $cards-border;
  border: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 5px;
}
