section.projetos {
  padding: 80px 0;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .cards-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 40px;
    .proj-card {
      width: 300px;
      padding: 20px;
      background-color: $bg-cards;
      border: 1px solid $cards-border;
      @include flex(column, center, start);
      border-radius: 4px;
      gap: 10px;
      align-self: stretch;
      transition: all 0.15s ease-in;

      div.card-img {
        display: flex;
        justify-content: center;
      }

      img {
        width: 80%;
      }

      p {
        color: $text-gray;
      }

      &:hover {
        box-shadow: inset 0px 0px 1px 2px $main-color;
      }

      .card--links {
        width: 100%;
        @include flex(row, space-between, center);
        text-decoration: underline;
        text-underline-offset: 2px;
      }

      .card--links a {
        transition: 0.2s ease-in;
      }

      .card--links a:hover {
        color: $text-gray1;
      }
    }

    .rckt {
      margin: 0 25%;
      transition: all 0.35s ease-in;
      // box-shadow: inset 0px 0px 1px 2px rgba(110, 66, 229, 1);

      &:hover {
        box-shadow: 0px 2px 16px rgba(110, 66, 229, 0.75);
      }

      @media screen and (max-width: 720px) {
        margin: 0;
      }
    }
  }
}
section.servicos {
  padding: 80px 0;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .cards-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 30px;
    .ser-card {
      i {
        font-size: 50px;
        color: $main-color;
      }
      width: 350px;
      padding: 40px 20px;
      background-color: $bg-cards;
      border: 1px solid $cards-border;
      border-bottom: 5px solid $main-color;
      border-radius: 2px;
      color: $text-gray;
      @include flex(column, center, center);
      gap: 20px;
    }
  }
}
section.skills {
  padding: 80px 0;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .cards-container {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 15px;
  }
  .skill-card {
    background-color: $bg-cards;
    border: 1px solid $cards-border;
    padding: 20px;
    i {
      font-size: 80px;
      color: $main-color;
    }
  }
}
